.c-test-placeholder {
  width: 100%;
  height: 100vh;
  background-image: url('../img/Gradient_builder_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    font-size: 168px;
    @include col();
    @include xs(font-size, 78px);
  }
}
