@import './colors.scss';

/* Размеры для отступов и проч. */
$sizes: (
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  50: 50px,
  57: 57px,
  60: 60px,
  70: 70px,
  100: 100px
);

/* Размеры для текста */
$text-sizes: (
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  22: 22px,
  24: 24px,
  26: 26px,
  28: 28px,
  32: 32px,
  48: 48px,
  64: 64px
);

/* Значения z-index */
$z-indeces: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10
);

/* Цвета текста и фона для утилит, переменные из файла colors.scss */
$global-colors: (
  'white': $white,
  'black': $black,
  'gray': $gray,
  'accent': $accent,
  'light-gray': $light-gray
);
