@import './maps.scss';
@import './smart-grid';

/* <div class="u-rounded"></div> */
.u-rounded {
  border-radius: 50%;
}

/* <div class="u-pointer"></div> */
.u-pointer {
  cursor: pointer;
}

/* <div class="u-hidden"></div> */
.u-hidden {
  overflow: hidden;
}

/* <div class="z--2"></div> */
.z {
  @each $z, $value in $z-indeces {
    &--#{$z} {
      z-index: $value;
    }
  }
}

/* <div class="wrapper"></div> */
.wrapper {
  @include wrapper();
}
/* <div class="centered"></div> */
.centered {
  margin: 0 auto;
}

/* <div class="bg--white"></div> */
.bg {
  @each $color, $value in $global-colors {
    &--#{$color} {
      background-color: $value;
    }
  }
}
